body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffccdd;
    font-family: 'Bubblegum Sans', cursive;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ff66a3;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.catImage {
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.catImage:hover {
    transform: scale(1.1);
}

.loading {
    width: 100px;
    animation: move 1s infinite alternate;
}

@keyframes move {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff66a3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff3385;
}